deps
tts
home-assistant_v2.db
home-assistant.log
db.thumbs
.DS_Store
secrets.yaml
known_devices.yaml
/icloud/*
*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml